{% extends "base.html.twig" %}

{% block title %}
	{{parent() }}
	Client
	{{client.companyName}}
{% endblock %}


{% block body %}
	<section class="container">
		<h1>
			Page liste de mon client
		</h1>
		{% if client is empty %}
			<p>Il n'y a pas de client</p>
		{% else %}
			<div class="card" style="width: 18rem;">
				<div class="card-body">
					<h5 class="card-title">{{client.companyName}}</h5>
					<h6 class="card-title">{{client.contactName}}</h6>
					<a href="tel:{{client.phone}}">{{client.phone}}</a>
					<a href="mailto:{{client.email}}">{{client.email}}</a>
				</div>
		{% endif %}
		    </div>
	</section>
{% endblock %}
