{% extends "base.html.twig" %}

{% block title %}
    {{parent() }} Client
{% endblock %}


{% block body %}
<section class="container">
    <h1> Page liste de mon client </h1>
    {% if client is empty %}
        <p>Il n'y a pas de client</p>
    {% else %}
    <table class="table">
    <thead>
        <tr>
            <th>Company Name</th>
            <th>Contact Name</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ client.companyName }}</td>
            <td>{{ client.ContactName }}</td>
            <td>{{ client.Email }}</td>
            <td>{{ client.Phone }}</td>
        </tr>
    </tbody>

    {% endif %}
    </table>
</section>
{% endblock %}
